<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div *ngFor="let album of albums" class="col-12 col-sm-6 col-md-4 col-lg-3">
            <a [routerLink]="['/album-details',album.id]">
                <img *ngIf="album.imageUrl" [src]="'assets/'+album.imageUrl">
                <img *ngIf="!album.imageUrl" [src]="'assets/denis.jpg'">
            </a>
        </div>
    </div>
</div>
<div *ngIf="selectedAlbum">
    <app-album-details *ngIf="selectedAlbum" [album]="selectedAlbum"></app-album-details>
    <button type="button" (click)="unselect()">Retour</button>
</div>